<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{page.title}}</title>
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.keywords}}" name="keywords" />

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon" />
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"
  />

  <!-- plugs CSS Files -->
  <link href="/assets/plugs/aos/aos.css" rel="stylesheet" />
  <link href="/assets/plugs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link
    href="/assets/plugs/bootstrap-icons/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link href="/assets/plugs/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="/assets/plugs/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="/assets/plugs/remixicon/remixicon.css" rel="stylesheet" />
  <link href="/assets/plugs/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet" />
</head>
