<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo">
      <a href="/"
        ><img src="/assets/img/logo.png" alt="Logo" class="logos" /> RTL Design
        Sherpa</a
      >
    </h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto active" href="/#article">Top Pickups</a>
        </li>
        <li><a class="nav-link scrollto" href="/about">About Me</a></li>
        <li>
          <a class="getstarted scrollto" href="/docs">Read Our Docs</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
